/*----------------------------------------------------- Common TYPE selectors */
body {
    background-color: rgb(51,51,51);
}

/*#pirmas div {
    border: 3px solid red;
}

#antras div {
    border: 3px solid blue;
}
#trecias div {
    border: 3px solid green;
}
#ketvirtas div {
    border: 3px solid red;
}
#penktas div {
    border: 3px solid blue;
}

.section {
    border: 3px dashed yellow;
}*/



/*--------------------------- Common Abstract classes for specific parameters */


.display-inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.close-button {
    padding: 10px;
    color: red;
}

.close-button:hover {
    background-color: rgba(126, 23, 23, 0.479);
    cursor: pointer;
}

/* ----------------------------------Specific styles for specific sublcasses */
/* Main top navigation bar styles */
.navbar-brand {
    padding: 0px;
}

/* Style for all sections or other repeating objects*/
.section-divs div {
}

.section {
    padding-top: 50px;
    min-height: 100vh;
    line-height: 200%;
    border-bottom: 2px solid rgba(194, 194, 59, 0.781)
}

.section h2 {
    color: #F5ED82;
}

.section h3, .section h4{
    color: #d6d076ce;
}


.kontaktu-flexbox {
    display: flex;
    margin-top: 20px;
}

.kontaktu-tipai, .patys-kontaktai {
    flex-basis: 50%;

}

.kontaktu-tipai {
    text-align: right;
    padding-right: 20px;
}

.patys-kontaktai {
    text-align: left;
}



/*----------------- Section 1 styles----------------- */
.main-flexbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(51,51,51);
}

.main-logo-div img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.main-logo-div {
    width: 40%;
}

.main-info-div {
    width: 60%;
    color: #A17D49;
    text-align: center;
}


#pirmas {
    background-color: rgb(51,51,51);
}


/*----------------- Section 2 styles----------------- */
.warehouse-flex-container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    min-height: 95vh;
}

.navbar.warehouse-soninis-navbar {
    width: 25%;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.inside-soninis-div {
    width: 100%;
    text-align: center;
}

.warehouse-content-div {
    width: 75%;
    align-self: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

#antras {
    background-color: rgb(51,51,51);
    color:#A17D49;
}

#kaunas-tab, #klaipeda-tab, #varsuva-tab {
    display: none;
}

.inside-soninis-div ul li {
    padding: 20px;
    color: #A17D49;
}

.inside-soninis-div ul li:hover {
    background-color: rgb(210, 214, 168);
    cursor: pointer;
}

/*---------------Section 3 styles---------*/
#trecias {
    background-color: rgba(51, 51, 51, 0.541);
    background-clip: content-box;
}

#imoniuKarusele {
    min-height: 95vh;
}


#imoniuKarusele img {
    margin-top: 30vh;
    margin-left: 42vw;
    width: 30vh;
    max-height: 30vh;
}



/*----------------- section 4 styles -------------*/
.paslaugos-flexbox {
    display: flex;
    color: #A17D49;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
}

.paslauga-img img {
    width: 300px;
    height: 300px;
}

.kainarastis table {
    color:#A17D49
}

.kainarastis {
    display: none;
}



/*-----------Plansetes dydziai----------------*/
@media only screen and (max-width: 992px)
{
    .paslauga-img img {
        width: 200px;
        height: 200px;
    }
}


/*---------------------------------------------------------- Phone styles */
@media only screen and (max-width: 768px) {
    /*----------------- Section 1 styles----------------- */
    .main-logo-div {
        flex-basis: 100%;
    }

    .main-info-div {
        flex-basis: 100%;
    }

    /*--------------- Section 2 styles -----------------*/
    .warehouse-soninis-navbar {
        display: none!important;
        width: 0%!important;
    }

    .warehouse-content-div {
        flex-basis: 100%;
    }
    

    /*---------------Section 4 styles--------------------*/
    .paslaugos-flexbox {
        flex-direction: column;
    }

    .paslauga-img img {
        width: 150px;
        height: 150px;
    }
}
